body {
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: #FFA33E;
    padding: 5px;
    position: sticky;
    top: 0;
}

nav ul {
    padding-inline: 4rem;
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
}

nav li {
    list-style-type: none;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

nav a:hover{
    font-weight: bold;
    color: white;
}

header{
    background-image: url(../img/bg1.png);
    background-position: center;
    background-size: cover;
}

#header-text {
    font-size: 20px;
    color: white;
    padding:60px;
    text-align: center;
    background-color: rgba(0,0,0, 0.4);
}

main{
    overflow: auto;
}

.slide-contact {
    display: flex;
    background-color: #E0FF59;
}
.slide {
    flex:2;
    height: auto;
    padding: 10px;
}

q { 
    font-size: 20px;
    margin: 10px 50px;
}

.slide .mySlide {
    width: 100%;
    object-fit: cover;
    object-position: center;
    padding: 10px;
}

.slide > .message > img 
{
    height: 70px; 
    border-radius: 50%; 
    float: left;
    margin: 10px 20px;
}

.slide .message{
    align-content: center;
    margin: auto auto;
}

.contact {
    flex: 1;
    height: 400px;
    padding: 20px;
    margin: 20px;
    background-color: #FBFBFB;
    border-radius: 5%;
    text-align: center;
}

form {
    text-align: left;
}

form > input {
    padding-left: 10px;
    height: 40px;
    width: 95%;
}

form > select {
    height: 40px;
    width: 95%;
    padding: 10px;
}

form > button{
    background-color: #FFA33E;
    color: white;
    height: 40px;
    width: 95%;
    margin-top: 20px;
}

#OurPackage{
    height: 150px;
    background-color: #B1D056;
    color: white;
    font-size: 30px;
    align-content: center;
    text-align: center;
}

.Package-items > .box {
    float: left;
    padding: 20px;
    width: 30%;
}

.Package-items > .box > .box-image {
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 10px;
    align-content: center;
}

.clear{
    clear: both;
}

.argument{
    background-color: #E0FF59;
    height: 300px;
    align-content: center;
    text-align: center;
}

.argument > button {
    background-color: #FFA33E;
    color: white;
    height: 40px;
    width: 300px;
}

footer {
    margin: 0px;
    padding: 10px;
    text-align: center;
    background-color: #FFA33E;
}
  
footer > .link a {
    text-decoration: none;
    color: black;
}

footer > .link a:hover {
    color: white;
}

@media only screen and (max-width:400px){
    .slide-contact{
        flex-direction: column;
    }
}